<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <div class="feat">
        <% include ../partials/header %>

            <div class="page-header">
                <div class="container">
                    <h1>
      				Examples
      			</h1>
                    <h4>Example apps built on PhonePack.</h4>
                </div>
            </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-2 hidden-xs hidden-sm">
                <% include partials/menu %>
            </div>

            <div class="col-md-8 col-xs-12">

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="post">
                            <div class="post-img-content">
                                <a href="http://www.phonepack.org/examples/instapack/" target="_blank">
                                    <img src="/img/examples/instapack-phonepack.jpg" class="img-responsive" />
                                </a>
                                <span class="post-title"><b>Instapack</b></span>
                            </div>
                            <div class="content">
                                <div>
                                    Client Instagram app for view photos, people and places nearby you. Created with AngularJs and PhonePack.
                                </div>
                                <div class="actions">
                                    <a href="http://www.phonepack.org/examples/instapack/" target="_blank" class="btn btn-primary btn-sm">Demo</a>
                                    <a href="https://github.com/wagnercsfilho/instapack" target="_blank" class="btn btn-warning btn-sm">Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <% include ../partials/footer %>

</body>

</html>
