<% include ../partials/head %>
  
    <header class="header header--shadow bg-lime text-black">
      <div class="header__title">Footer Buttons</div>
    </header>
    
    <section class="content content--padding has-header has-footer">
    </section>
    
    <footer class="footer bg-yellow text-black">
        <div class="footer__buttons">
            <button class="button button--m button--icon button--ripple text-black">
		      <i class="icon mdi mdi-menu"></i>
		    </button>
        </div>
        <div class="footer__title">Buttons</div>
    </footer>
  
<% include ../partials/footer %>
      