<% include ../partials/head %>
  
    <header class="header header--shadow bg-lime text-black">
      <div class="header__title">Footer</div>
    </header>
    
    <section class="content content--padding has-header has-footer">
    </section>
    
    <footer class="footer">
        <div class="footer__title">Footer</div>
    </footer>
  
<% include ../partials/footer %>
      