.content{
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  overflow-y: auto; 

  &.content--pull-to-refresh{
    transition: transform 0.2s ease-in-out;
  }

  &.content--padding{
    padding: 16px;
  }

  &.has-header {
      padding-top: 56px;
  }

  &.has-sub-header {
      padding-top: 104px;  
  }

  &.has-footer {
      bottom: 48px;  
  }

}