.row {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	&.nowrap {
		flex-wrap: nowrap
	}

	&.wrap { 
		flex-wrap: wrap;
	} 

	&.row--flex-cells > .col {
		display: flex;
	}

	&.row--center {
		align-items: center;
	}

	&.row--justify-enter {
		justify-content: center;
	}

	.col {
		flex: 1;
	}

	.col.col--autoSize {
		flex: none;
	}

}


