 $min-height: 56px;
 
.header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  min-height: $min-height;
  background: $white;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  .header__title {
    position: relative; 
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 400; 
    padding-left: 16px;
    flex-grow: 2;
    flex-shrink: 0;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .header__caption{
      display: block;
      line-height: 14px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  
  &.header--caption .header__title{
    line-height: 40px;
  }
  
  .header__buttons {
    display: block;
    border: 0;
    text-align: center; 
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    margin: 0 5px 0 10px;
  }

  .header__buttons + .title{
    padding-left: 5px;
  }
  
  &.header--transparent{
    background: transparent !important;
  }
  
}

.sub-header{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    height: 48px;
}

.header.header--shadow, .sub-header.header--shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}