.infinite-scroll-loading{
    display: none;
    text-align: center;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 1s ease;
    
    
    &.is-shown{
        opacity: 1;
        display: block;
    }
}