.loading-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); 

  &.loading-filter--is-shown {
    opacity: 1; 
  }

}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px; 
  margin: auto;
  z-index: 1000;
  background-color: #FFFFFF;
  opacity: 0;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.5);
  transform: translateY(-50px);
  transition-property: opacity, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); 
  padding: 24px;
  width: 80%;
}

@media screen 
  and (min-device-width: 768px) { 

  .loading{
  	width: 40%;
  }

}

.loading--is-shown {
    opacity: 1;
    transform: translateY(0);
}

.loading__main{
	display: flex;
	align-items: center;
}

.loading__title {    
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.loading__spinner{
  float: left;
  padding-right: 24px;
}