$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out, 
    colors ($duration*4) ease-in-out;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}


.spinner--pull-to-refresh {
  height: 28px;
  width: 28px;
  border: 5px solid #4285F4;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: rotate 0.2s;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); border-color: #4285F4; border-right-color: transparent; }
  25% { border-color: #DE3E35; border-right-color: transparent; }
  50% { border-color: #F7C223; border-right-color: transparent; }
  75% { border-color: #1B9A59; border-right-color: transparent; }
  100%  { transform: rotate(360deg); border-color: #4285F4; border-right-color: transparent; }
}

.spinner--infinite-scroll {
  height: 28px;
  width: 28px;
  border: 5px solid #4285F4;
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotatoIS 0.8s infinite linear;
  margin: 0 auto;
}

@keyframes rotatoIS {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}