.radio-group .radio-button {
    margin-bottom: 8px;
}

.radio-button__label {
    display: block;
    position: relative;
    padding-left: 32px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.radio-button__label:before, .radio-button__label:after {
    display: inline-block;
    font: normal normal normal 24px/1 MaterialDesignIcons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    top: 0;
    left: 0;
    line-height: 24px;
    transition-property: transform;
    transition-duration: 0.2s;
}

.radio-button__label:after {
    content: "\f4b2";
    color: #009688;
}
.radio-button__label:before {
    content: "\f4b1";
    color: rgba(0, 0, 0, 0.54);
}

.radio-button__input:checked + .radio-button__label:before {
    transform: scale(0);
}

.radio-button__input:checked + .radio-button__label:after {
    transform: scale(1);
}

.radio-button__input:not(:checked) + .radio-button__label:before {
    transform: scale(1);
}

.radio-button__input:not(:checked) + .radio-button__label:after {
    transform: scale(0);
}

.radio-button__input[disabled] + .radio-button__label {
    cursor: not-allowed;
}

.radio-button__input[disabled] + .radio-button__label:before, 
.radio-button__input[disabled] + .radio-button__label:after {
    color: rgba(0, 0, 0, 0.26);
}

.radio-button__help {
    display: block;
    padding-left: 32px;
    color: rgba(0, 0, 0, 0.54);
    text-align: left;
}
