.switch__label {
    display: block;
    position: relative;
    padding-left: 45px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        z-index: 1;
        height: 14px;
        width: 35px;
        border-radius: 7px;
        -webkit-transition-property: background-color;
        -moz-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 2;
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-transition-property: background-color, -webkit-transform;
        -moz-transition-property: background-color, -moz-transform;
        transition-property: background-color, transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
}


.switch__input:not(:checked) + .switch__label:before {
    background-color: rgba(0, 0, 0, 0.26);
} 

.switch__input:not(:checked) + .switch__label:after {
    background-color: #FAFAFA;
}

.switch__input:checked + .switch__label:before {
    background-color: rgba(0, 150, 136, 0.5);
}

.switch__input:checked + .switch__label:after {
    background-color: #009688;
    transform: translateX(15px);
}

.switch__help {
    display: block;
    padding-left: 45px;
    color: rgba(0, 0, 0, 0.54);
    text-align: left;
}

.switch__input[disabled] + .switch__label {
    cursor: not-allowed;
}

.switch__input[disabled] + .switch__label:before {
    background-color: rgba(0, 0, 0, 0.12);
}

.switch__input[disabled] + .switch__label:after {
    background-color: #BDBDBD;
} 