<% include ../partials/head %>
  
    <header class="header bg-blue-gray text-white">
      <div class="header__title">Tabs</div>
      <div class="header__buttons">
        <button class="button button--m button--icon button--ripple color-white">
          <i class="icon material-icons">more_vert</i>
        </button>
      </div>
    </header>
    
    <div class="sub-header header--shadow">
           <div class="tab-bar bg-blue-gray tab-item__color-white tab-item__indicator-white">
                <div class="tab-item tab--ripple active">
                  CHAMADAS
                </div>
                <div class="tab-item tab--ripple">
                  CONVERSAS
                </div>
                <div class="tab-item tab--ripple">
                  CONTATOS
                </div>
            </div>
    </div>
    
    <section class="content content--padding has-header">
        
    </section> 
  
<% include ../partials/footer %>