<% include ../partials/head %>

  <header class="header bg-indigo text-white">
    <div class="header__title">Tabs</div>
  </header>

  <div class="sub-header header--shadow">
    <div id="tab" class="tab-bar bg-indigo tab-bar--text-white tab-bar--indicator-bottom-white">
      <div class="tab-bar__item ripple active">
        TEXT 1
      </div>
      <div class="tab-bar__item ripple">
        TEXT 2
      </div>
      <div class="tab-bar__item ripple">
        TEXT 3
      </div>
    </div>
  </div>

  <% include ../partials/footer %>