<% include ../partials/head %>

<header class="header header--shadow text-black">
<div class="header__title">Colors</div>
</header>

<section class="content has-header">

<ul class="list">
    <li class="list__item">
        <div class="list__content text-red">.text-red</div>
        <div class="list__secondary bg-red text-white" style="padding: 4px;">
            .bg-red
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-pink">.text-pink</div>
        <div class="list__secondary bg-pink text-white" style="padding: 4px;">
            .bg-pink
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-purple">.text-purple</div>
        <div class="list__secondary bg-purple text-white" style="padding: 4px;">
            .bg-purple
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-deep-purple">.deep-purple</div>
        <div class="list__secondary bg-deep-purple text-white" style="padding: 4px;">
            .bg-deep-purple
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-indigo">.text-indigo</div>
        <div class="list__secondary bg-indigo text-white" style="padding: 4px;">
            .bg-indigo
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-blue">.text-blue</div>
        <div class="list__secondary bg-blue text-white" style="padding: 4px;">
            .bg-blue
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-light-blue">.text-light-blue</div>
        <div class="list__secondary bg-light-blue text-white" style="padding: 4px;">
            .bg-light-blue
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-cyan">.text-cyan</div>
        <div class="list__secondary bg-cyan text-white" style="padding: 4px;">
            .bg-cyan
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-teal">.text-teal</div>
        <div class="list__secondary bg-teal text-white" style="padding: 4px;">
            .bg-teal
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-green">.text-green</div>
        <div class="list__secondary bg-green text-white" style="padding: 4px;">
            .bg-green
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-light-green">.text-light-green</div>
        <div class="list__secondary bg-light-green text-white" style="padding: 4px;">
            .bg-light-green
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-lime">.text-lime</div>
        <div class="list__secondary bg-lime text-white" style="padding: 4px;">
            .bg-lime
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-yellow">.text-yellow</div>
        <div class="list__secondary bg-yellow text-white" style="padding: 4px;">
            .bg-yellow
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-amber">.text-amber</div>
        <div class="list__secondary bg-amber text-white" style="padding: 4px;">
            .bg-amber
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-orange">.text-orange</div>
        <div class="list__secondary bg-orange text-white" style="padding: 4px;">
            .bg-orange
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-deep-orange">.text-deep-orange</div>
        <div class="list__secondary bg-deep-orange text-white" style="padding: 4px;">
            .bg-deep-orange
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-brown">.text-brown</div>
        <div class="list__secondary bg-brown text-white" style="padding: 4px;">
            .bg-brown
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-grey">.text-grey</div>
        <div class="list__secondary bg-grey text-white" style="padding: 4px;">
            .bg-grey
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-blue-grey">.text-blue-grey</div>
        <div class="list__secondary bg-blue-grey text-white" style="padding: 4px;">
            .bg-blue-grey
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-black">.text-black</div>
        <div class="list__secondary bg-black text-white" style="padding: 4px;">
            .bg-black
        </div>
    </li>
    <li class="list__item">
        <div class="list__content text-black">.text-white</div>
        <div class="list__secondary bg-white text-black" style="padding: 4px;">
            .bg-white
        </div>
    </li>
</ul>

</section>

<% include ../partials/footer %>