<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
	
<% include partials/header %>

<div class="container">
	  <!--PAGE TITLE-->

	<div class="row">
		<div class="span12">
		<div class="page-header">
			<h1>
				Documentation
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->

	<div class="row">
		
		<div class="span2">
			<div class="side-bar">

				<h3>CSS</h3>
				<ul class="nav nav-list">
					<li><a href="#">Header</a></li>
					<li><a href="#">Content</a></li>
					<li><a href="#">Footer</a></li>
					<li><a href="#">Buttons</a></li>
					<li><a href="#">List</a></li>
					<li><a href="#">Cards</a></li>
					<li><a href="#">Forms & Inputs</a></li>
					<li><a href="#">Toggle</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio Button List</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Tabs</a></li>
					<li><a href="#">Grid</a></li>
					<li><a href="#">Colors</a></li>
					<li><a href="#">Icons</a></li>
				</ul>
				
				<h3>JAVASCRIPT</h3>
				<ul class="nav nav-list">
					<li><a href="#">Slide Menu</a></li>
					<li><a href="#">Pages Navigation</a></li>
					<li><a href="#">DropDown Menu</a></li>
				</ul>

			</div>
		</div>
	
		<div class="span6">

			<h2>Header</h2>
<pre><code>&lt;header class="header bg-white header-shadow"&gt;
 &lt;div class="title"&gt;Header&lt;/div&gt;
&lt;header&gt;</code></pre>

->

			<div class="blog-post">
				<h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</h2>

				<div class="postmetadata">
					<ul>
							<li>
								<i class="icon-user"></i> <a href="#">Author Name</a>
							</li>

							<li>
								 <i class="icon-calendar"></i>September 20th, 2013
							</li>

							<li>
								<i class="icon-comment"></i> <a href="#">100 Comments</a>
							</li>
							<li>
								<i class="icon-tags"></i> <a href="#">Themes</a>, <a href="#">Template</a>
							</li>
					</ul>
				</div>


			
					<img src="img/img1-870x400.jpeg">
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>	

					<a class="btn btn-primary" href="blog-details.html">Read More</a>			
			</div>



			<!--/.Blog Post-->

			<!--Pagination-->
			<div class="pagination">
				<ul>
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
			</div>	

		<!--/.Pagination-->
		</div>	

		<div class="span4">
			
			<div class="device" style="" id="barsInDevice">
		        <div class="device-content">
		          <div id="iwindow">
				   </div>
		        </div>
		    </div>

		</div>
		
		<!--==================-->
	</div>
</div>

<% include partials/fo