<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    	$(function(){
		        // Check the initial Poistion of the Sticky Header
		        var sideMenu = $('#sideBar').offset().top;
		        var iFrameDevice = $('#iFrameDevice');
		        var refElement = null;
		        offset = 0;
		 
		        $(window).scroll(function(){
		                if( $(window).scrollTop() > sideMenu ) {
		                        $('#sideBar').css({position: 'fixed', top: '0px'});
		                        $('#device').css({position: 'fixed', top: '0px'});
		                } else {
		                        $('#sideBar').css({position: 'static', top: '0px'});
		                        $('#device').css({position: 'static', top: '0px'});
		                }
		                
		                $('#sideBar a').each(function(){
		                	 var _currLink = $(this);
        					 var _refElement = $(_currLink.attr("href"));
        					 var _link = _currLink.attr('rel');
        					 
        					 if ((_link) && (_refElement[0] !== refElement)){
        					 
	        					 if (($(window).scrollTop() + 50 > _refElement.offset().top && _refElement[0] !== refElement &&  _refElement.offset().top + 50 > offset) || ( _refElement.offset().top < offset && offset > $(window).scrollTop() + 50 && $(window).scrollTop() + 50 > _refElement.offset().top)) {
	        					 		
	        					 	iFrameDevice.attr('src', _currLink.attr('rel'));
	        					 	refElement = _refElement[0];
	        					 	offset =  _refElement.offset().top;
	        					 	$('#sideBar a').removeClass('active');
	        					 	_currLink.addClass('active');
	        					 	//window.location.hash = _currLink.attr("href");
	        					 	return false;
				                 }
				                 
        					 }
		                });
		                
		        });
		});
    </script>
</head>

<body>
	
<% include partials/header %>

<div class="container">
	  <!--PAGE TITLE-->

	<div class="row">
		<div class="span12">
		<div class="page-header">
			<h1>
				Documentation
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->

	<div class="row">
		
		<div class="span2">
			<div class="side-bar" id="sideBar">

				<h3>CSS</h3>
				<ul class="nav nav-list">
					<li><a href="#header" rel="demos/header.html">Header</a></li>
					<li><a href="#content" rel="demos/content.html">Content</a></li>
					<li><a href="#footer" rel="demos/footer.html">Footer</a></li>
					<li><a href="#buttons" rel="demos/buttons.html">Buttons</a></li>
					<li><a href="#">List</a></li>
					<li><a href="#">Cards</a></li>
					<li><a href="#">Forms & Inputs</a></li>
					<li><a href="#">Toggle</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio Button List</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Tabs</a></li>
					<li><a href="#">Grid</a></li>
					<li><a href="#">Colors</a></li>
					<li><a href="#">Icons</a></li>
				</ul>
				
				<h3>JAVASCRIPT</h3>
				<ul class="nav nav-list">
					<li><a href="#">Slide Menu</a></li>
					<li><a href="#">Pages Navigation</a></li>
					<li><a href="#">DropDown Menu</a></li>
				</ul>

			</div>
		</div>
	
		<div class="span6">

			<h2 id="header">Header</h2>
<pre><code>&lt;header class="header has-shadow bg-white"&gt;
 &lt;div class="title"&gt;Header&lt;/div&gt;
&lt;header&gt;</code></pre>

			<h2 id="content">Content</h2>
<pre><code>&lt;section class="content has-header"&gt;
  &lt;h1>Main Content&lt;/h1&gt;
&lt;/section&gt;</code></pre>

			<h2 id="footer">Footer</h2>
<pre><code>&lt;footer class="footer bg-green"&gt;
 &lt;div class="title"&gt;Footer&lt;/div&gt;
&lt;footer&gt;</code></pre>

			<h2 id="buttons">Buttons</h2>
			<pre><code>&lt;button class="btn"&gt;&lt;/button&gt;</code></pre>

		</div>
		
		<div class="span4">
			
			<div class="device" style="" id="device">
		        <div class="device-content">
		          <div id="iwindow">
		          	<iframe id="iFrameDevice" width="315" height="560" marginwidth="0" marginheight="0" scrolling="no" style="border: 0"></iframe>
				   </div>
		        </div>
		    </div>

		</div>
		
		<!--==================-->
	</div>
</div>

<% include partials/footer %>

</body>
</html>
