<div class="side-bar" id="sideBar">

				<a href="/getting-started.html"><h4 class="active">GETTING STARTED</h4></a>
				<a href="/css.html"><h4>CSS</h4></a>
				<a href="/javascript.html"><h4>JAVASCRIPT</h4></a>
				<a href="/examples.html"><h4>EXAMPLES</h4></a>
</div>