<div class="side-bar" id="sideBar">

				<a href="/getting-started.html"><h4 class="active">Getting started</h4></a>
				<a href="/docs.html"><h4>CSS</h4></a>
				<a href="/javascript.html"><h4>JAVASCRIPT</h4></a>

</div>