<nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/img/logo_transparent.png" | prepend: site.baseurl }}" style="width: 100%"/></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ "/getting-started" | prepend: site.baseurl }}">Getting started</a></li>
                <li><a href="{{ "/css" | prepend: site.baseurl }}">CSS</a></li>
                <li><a href="{{ "/javascript" | prepend: site.baseurl }}">JavaScript</a></li>
                <li><a href="{{ "/examples" | prepend: site.baseurl }}">Examples</a></li> 
                <li><a target="_blank" href="https://github.com/wagnercsfilho/phonepack">GitHub Project</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
</nav>
      