<% include ../partials/head %>
  
    <header class="header header--shadow bg-blue text-white">
        <div class="header__buttons">
		    <button class="button button--m button--icon button--ripple text-white">
		      <i class="icon material-icons">menu</i>
		    </button>
	    </div>
        <div class="header__title">Header Buttons</div>
        <div class="header__buttons">
			<a class="button button--m button--icon button--ripple">
				<i class="material-icons">search</i>
			</a>
		</div>
    </header>
  
<% include ../partials/footer %>