<% include ../partials/head %>
  
    <header class="header header--shadow header--caption">
      <div class="header__title">
          Title
          <span class="header__caption">header caption</span>
      </div>
    </header>
  
<% include ../partials/footer %>