<% include ../partials/head %>
  
    <header class="header header--shadow">
      <div class="header__title">
          Title dfhsf jdfh jkdsfh jk fdsjkf hdskjf hsk
          <span class="header__caption">header caption</span>
      </div>
    </header>
  
<% include ../partials/footer %>