<div class="side-bar" id="sideBar">

				<h4>CSS</h4>
				<ul class="nav nav-list">
					<li>
						<a href="#header" rel="docs/demos/header/header">Header</a>
						<ul class="nav">
						    <li><a href="#header-shadow" rel="docs/demos/header/shadow">With Shadow</a></li>
						    <li><a href="#header-colors" rel="docs/demos/header/colors">Custom Colors</a></li>
						    <li><a href="#header-buttons" rel="docs/demos/header/buttons">Buttons</a></li>
						</ul>
					</li>
					<li>
						<a href="#content" rel="docs/demos/content/index">Content</a>
						<ul class="nav">
						    <li><a href="#content-header" rel="docs/demos/content/header">Header</a></li>
						    <li><a href="#content-footer" rel="docs/demos/content/footer">Footer</a></li>
						</ul>
					</li>
					<li>
						<a href="#footer" rel="docs/demos/footer/index">Footer</a>
						<ul class="nav">
						    <li><a href="#footer-colors" rel="docs/demos/footer/colors">Custom Colors</a></li>
						    <li><a href="#footer-buttons" rel="docs/demos/footer/buttons">Buttons</a></li>
						</ul>
					</li>
					<li>
						<a href="#buttons" rel="docs/demos/buttons/index">Buttons</a>
						<ul class="nav">
						    <li><a href="#buttons-block" rel="docs/demos/buttons/block">Block</a></li>
						    <li><a href="#buttons-flat" rel="docs/demos/buttons/flat">Flat</a></li>
						    <li><a href="#buttons-icon" rel="docs/demos/buttons/icon">Icon</a></li>
						    <li><a href="#buttons-fab" rel="docs/demos/buttons/fab">Fab</a></li>
						    <li><a href="#buttons-floating" rel="docs/demos/buttons/floating">Floating</a></li>
						</ul>
					</li>
					<li>
						<a href="#lists" rel="docs/demos/lists/index">List</a>
						<ul class="nav">
						    <li><a href="#lists-subheader" rel="docs/demos/lists/subheader">Subheader</a></li>
						    <li><a href="#lists-caption" rel="docs/demos/lists/caption">Caption</a></li>
						    <li><a href="#lists-icon" rel="docs/demos/lists/icon">Icon</a></li>
						    <li><a href="#lists-image" rel="docs/demos/lists/image">Image</a></li>
						</ul>
					</li>
					<li>
						<a href="#text-fields" rel="docs/demos/text-fields/index">Text Fields</a>
						<ul class="nav">
						    <li><a href="#text-fields-label" rel="docs/demos/text-fields/label-animate">Label Animate</a></li>
						    <li><a href="#text-fields-icon" rel="docs/demos/text-fields/icon">Icon</a></li>
						</ul>
					</li>
					<li>
						<a href="#switch" rel="demos/switch.html">Switch</a>
					</li>
					<li>
						<a href="#checkbox" rel="demos/checkbox.html">Checkbox</a>
					</li>
				 	<li>
				 		<a href="#radio" rel="demos/radio.html">Radio Button</a>
				 	</li>
					<li>
						<a href="#select" rel="demos/select.html">Select</a>
					</li>
					
					<li><a href="#">Tabs</a></li>
					<li><a href="#">Grid</a></li>
					<li><a href="#">Colors</a></li>
					<li><a href="#">Icons</a></li>
				</ul>
				
				<h4>JAVASCRIPT</h4>
				<ul class="nav nav-list">
					<li><a href="#">Slide Menu</a></li>
					<li><a href="#">Pages Navigation</a></li>
					<li><a href="#">DropDown Menu</a></li>
				</ul>

			</div>