<% include ../partials/head %>
  
    <header class="header header--shadow">
      <div class="header__title">Lists with icon</div>
    </header>
    
    <section class="content has-header">
        <ul class="list">
            
            <li class="list__subheader">Icon left</li>
            <li class="list__item"> 
            	<div class="list__primary">
            		<i class="icon mdi mdi-inbox"></i>
            	</div>
            	<div class="list__content">Inbox</div>
            </li>
            
            <li class="list__item"> 
            	<div class="list__primary">
            	    <i class="icon mdi mdi-star-circle"></i>
            	</div>
            	<div class="list__content">Starred</div>
            </li>
            
            <div class="list__divider list__divider--pushed"></div>
            <div class="list__subheader list__subheader--pushed">Icon Circled</div>
            
            <li class="list__item"> 
	        	<div class="list__primary">
	        		<i class="icon icon--circled bg-green color-white mdi mdi-inbox"></i>
	        	</div>
	        	<div class="list__content"> All mail </div>
	        </li>
            
            <li class="list__item"> 
	        	<div class="list__primary">
	        		<i class="icon icon--circled bg-red color-white mdi mdi-delete"></i>
	        	</div>
	        	<div class="list__content"> Trash </div>
	        </li>
	        <div class="list__divider list__divider--pushed"></div>
            <div class="list__subheader list__subheader--pushed">Icon Right</div>
            
            <li class="list__item"> 
	        	<div class="list__primary">
	        		<i class="icon icon--circled bg-grey color-white mdi mdi-inbox"></i>
	        	</div>
	        	<div class="list__content"> Inbox </div>
	        	<div class="list__secondary">
	        	    <i class="icon color-grey mdi mdi-information-outline"></i>
	        	</div>
	        </li>
            
            <li class="list__item"> 
	        	<div class="list__primary">
	        		<i class="icon icon--circled bg-grey color-white mdi mdi-delete"></i>
	        	</div>
	        	<div class="list__content"> Trash </div>
	        	<div class="list__secondary">
	        	    <i class="icon color-grey mdi mdi-information-outline"></i>
	        	</div>
	        </li>
        <ul>
    </section> 
  
<% include ../partials/footer %>