<% include ../partials/head %>
  
    <header class="header header--shadow">
      <div class="header__title">Lists Subheader</div>
    </header>
    
    <section class="content has-header">
        <ul class="list">
            <li class="list__subheader">Front-end</li>
            <li class="list__item">Html5</li>
            <li class="list__item">CSS</li>
            <li class="list__item">JavaScript</li>
            <li class="list__subheader">Back-end</li>
            <li class="list__item">Java</li>
            <li class="list__item">NodeJS</li>
            <li class="list__item">PHP</li>
            <li class="list__item">Ruby</li>
        <ul>
    </section> 
  
<% include ../partials/footer %>