<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script>
    	$(function(){
		        // Check the initial Poistion of the Sticky Header
		        var sideMenu = $('#sideBar').offset().top;
		        var iFrameDevice = $('#iFrameDevice');
		        var currentElement = null;
		        
		        $(window).on('hashchange', function(e) {
		        	e.preventDefault();
			        return false;
			    });

		        $(window).scroll(function(){
		                if( $(window).scrollTop() > sideMenu ) {
		                        $('#sideBar').css({position: 'fixed', top: '70px', bottom: '0',  overflow: 'auto'});
		                        $('#device').css({position: 'fixed', top: '20px', bottom: '0', height: 'auto'});
		                } else {
		                        $('#sideBar').css({position: 'static', top: '0px'});
		                        $('#device').css({position: 'static', top: '0px', height: '813px'});
		                }
		                
		                $('#sideBar>ul>li a').each(function(){
		                	 var _currLink = $(this);
        					 var _refElement = $(_currLink.attr("href"));
        					 var _link = _currLink.attr('rel');
        					 
        					 if ((_link) && (_refElement.offset())) {
        					 	
        					 	var offset = _refElement.offset().top;
        					 	var scrollTop = $(window).scrollTop();
        					 	
	        					 if ((currentElement !== _refElement[0]) && (scrollTop + 100 > offset) && (scrollTop + 100 < ((offset) + _refElement.height()))) {
	        					 	currentElement = _refElement[0];
	        					 	iFrameDevice.attr('src', _currLink.attr('rel'));
	        					 	
	        					 	if (!_currLink.parents('li.active').length) {
	        					 		$('li.active').removeClass('active');
	        					 	}
	        					 	
	        					 	$('#sideBar>ul>li a').removeClass('active');
	        					 	$('.docs section').css('opacity', '0.6');
	        					 	
	        					 	_currLink.addClass('active');
	        					 	_currLink.parents('li').addClass('active');
	        					 	history.pushState(null, null, _currLink.attr("href"));
	        					 	_refElement.css('opacity', 1);
	        					 	//window.location.hash = _currLink.attr("href");
	        					 	return false;
				                 }
				                 
        					 }
		                });
		                
		        });
		});
    </script>
</head>

<body>
	
<div class="feat">
	<% include ../partials/header %>
	
	<div class="page-header">
		<div class="container">
				<h1>
					CSS
				</h1>
				<h4>Design patterns that serve as basic building blocks.</h4>
		</div>
	</div>		
</div>	
<div class="container docs">
	<div class="row">
		
		<div class="col-md-2 hidden-xs hidden-sm">
			<% include partials/menu %>
		</div>
	
		<div class="col-md-6 col-xs-12">
			<% include partials/css %>
		</div>
		
		<div class="col-md-4 hidden-xs hidden-sm">
			<% include ../partials/device %>
		</div>
		
	</div>
</div>

<% include ../partials/footer %>

</body>
</html>
