<% include ../partials/head %>
  
    <header class="header header--shadow bg-teal text-white">
      <div class="header__title">Card Image</div>
    </header>
    
    <section class="content content--padding has-header">
      <div class="list card">
		  <div class="list__item card__title">
		  	<img src="http://lorempixel.com/640/480/abstract/" class="card__title--pic">
		    <h2 class="card__title--text">Welcome</h2>
		    <div class="card__title--menu">
				<button class="button button--icon button--ripple">
			      <i class="icon mdi mdi-share-variant"></i>
			    </button>
			</div>
		  </div>
		  <div class="list__item card__text">
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		    Mauris sagittis pellentesque lacus eleifend lacinia...
		  </div>
		  <div class="list__item card__actions">
		  	<button class="button button--flat button--ripple color-blue">GET STARTED</button>
		  </div>
		</div>
    </section> 
  
<% include ../partials/footer %>