<% include ../partials/head %>
  
    <header class="header header--shadow bg-teal text-white">
      <div class="header__title">Cards</div>
    </header>
    
    <section class="content content--padding has-header">
      <div class="card">
		  <div class="card__image">
		  	<img src="http://www.getmdl.io/assets/demos/welcome_card.jpg" class="card__image--pic">
		    <h2 class="card__image--title">Welcome</h2>
		    <div class="card__image--menu">
				<button class="button button--icon button--ripple">
			      <i class="icon material-icons">share</i>
			    </button>
			</div>
		  </div>
		  <div class="card__text">
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		    Mauris sagittis pellentesque lacus eleifend lacinia...
		  </div>
		  <div class="card__actions">
		  	<button class="button button--flat button--ripple color-blue">GET STARTED</button>
		  </div>
		</div>
    </section> 
  
<% include ../partials/footer %>