<!DOCTYPE html>
  <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>PhonePack</title>
  
        <!-- Material Design Icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Material Design Font  -->
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
        <!-- PhonePack CSS  -->
        <link rel="stylesheet" type="text/css" href="../../../css/phonepack.min.css">

        <!-- PhonePack JavaScript  -->
        <script src="../../../js/phonepack.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function() {
            var phonepack = new PhonePack();
          }, false);
          
        </script>
      </head>
  <body>