<!-- HEADER --> 

<section id="header" style="padding-top: 0">
<h3>Header</h3>
<h4>Title bars are full width and docked to the top of the viewport.</h4>
<pre><code class="language-markup">
&lt;header class="header"&gt;
 &lt;div class="title"&gt;Header&lt;/div&gt;
&lt;header&gt;</code>
</pre>
</section>

<section id="header-shadow">
    <h3>Header with Shadow</h3>
    <pre><code class="language-markup">
&lt;header class="header header-shadow bg-white"&gt;
    &lt;div class="title"&gt;Header with Shadow&lt;/div&gt;
&lt;header&gt;</code></pre>
</section>

<section id="header-colors">
<h3>Header Custom Colors</h3>
<pre><code class="language-markup">&lt;header class="header header-shadow bg-blue text-white"&gt;
 &lt;div class="title"&gt;Header Colors&lt;/div&gt;
&lt;header&gt;</code></pre>
</section>

<section id="header-buttons">
<h3>Header with Buttons</h3>
<pre><code class="language-markup">
&lt;header class="header header-shadow bg-lime text-black"&gt;
  	&lt;div class="header__buttons"&gt;
		&lt;button class="button button--m button--icon button--ripple text-white"&gt;
			&lt;i class="icon material-icons">menu&lt;/i&gt;
		&lt;/button&gt;
	&lt;/div&gt;
    &lt;div class="header__title">Header Buttons&lt;/div&gt;
    &lt;div class="header__buttons"&gt;
		&lt;a class="button button--m button--icon button--ripple"&gt;
			&lt;i class="material-icons">search&lt;/i&gt;
		&lt;/a&gt;
	&lt;/div&gt;
&lt;header&gt;</code>
</pre>
</section>

<!-- /HEADER --> 

<!-- CONTENT --> 

<section id="content">
<h3>Content</h3>
<pre><code class="language-markup">&lt;section class="content content--padding"&gt;
  &lt;h1&gt;Main Content&lt;/h1&gt;
&lt;/section&gt;</code></pre>
</section>

<section id="content-header">
<h3>Content + Header</h3>
<pre><code class="language-markup">&lt;section class="content content--padding has-header"&gt;
  &lt;h1&gt;Content with header&lt;/h1&gt;
&lt;/section&gt;</code></pre>
</section>

<section id="content-footer">
<h3>Content + Footer</h3>
<pre><code class="language-markup">&lt;section class="content content--padding has-header has-footer"&gt;
  &lt;h1&gt;Content with footer&lt;/h1&gt;
&lt;/section&gt;</code></pre>
</section>

<!-- /CONTENT --> 

<!-- FOOTER --> 

<section id="footer">
<h3>Footer</h3>
<pre><code class="language-markup">&lt;footer class="footer"&gt;
 &lt;div class="title"&gt;Footer&lt;/div&gt;
&lt;footer&gt;</code></pre>
</section>

<section id="footer-colors">
<h3>Footer Colors</h3>
<pre><code class="language-markup">&lt;footer class="footer bg-yellow text-black"&gt;
 &lt;div class="title"&gt;Footer Colors&lt;/div&gt;
&lt;footer&gt;</code></pre>
</section>

<section id="footer-buttons">
<h3>Footer Buttons</h3>
<pre><code class="language-markup">&lt;footer class="footer bg-yellow text-black"&gt;
&lt;div class="footer__buttons"&gt;
    &lt;button class="button button--m button--icon button--ripple text-black"&gt;
	    &lt;i class="icon material-icons">menu&lt;/i&gt;
    &lt;/button&gt;
&lt;/div&gt;
 &lt;div class="title"&gt;Buttons&lt;/div&gt;
&lt;footer&gt;</code></pre>
</section>

<!-- /FOOTER --> 

<!-- BUTTONS --> 
<section id="buttons">
<h3>Buttons</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--raised bg-blue text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--s button--raised bg-red text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--l button--raised bg-green text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>

<section id="buttons-colors">
<h3>Colors Button</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--raised bg-blue text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--s button--raised bg-red text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--l button--raised bg-green text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>


<section id="buttons-raised">
<h3>Raised Buttons</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--raised bg-blue text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--s button--raised bg-red text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--l button--raised bg-green text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>


<section id="buttons-block">
<h3>Block Buttons</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--raised button--block bg-blue text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--s button--raised button--block bg-red text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--l button--raised button--block bg-green text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>

<section id="buttons-flat">
<h3>Flat Buttons</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--flat button--block text-blue"&gt;Button&lt;/button&gt;
&lt;button class="button button--s button--flat button--block text-red"&gt;Button&lt;/button&gt;</code></pre>
</section>

<section id="buttons-icon">
<h3>Icon Buttons</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--icon bg-blue text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--s button--icon bg-red text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--l button--icon bg-green text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>

<section id="buttons-fab">
<h3>Fab Buttons</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--raised button--block bg-blue text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--s button--raised button--block bg-red text-white"&gt;Button&lt;/button&gt;
&lt;button class="button button--l button--raised button--block bg-green text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>

<section id="buttons-floating">
<h3>Floating Buttons</h3>
<pre><code class="language-markup">
&lt;button class="button button--m button--raised button--floating bg-blue text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>

<section id="buttons-ripple">
<h3>Ripple Effect</h3>
<pre><code class="language-markup">
&lt;button class="button button--raised button--ripple bg-blue text-white"&gt;Button&lt;/button&gt;</code></pre>
</section>
<!-- /BUTTONS --> 

<!-- LISTS --> 
<section id="lists">			
<h3>Lists</h3>
<pre><code class="language-markup">
&lt;ul class="list"&gt;
  &lt;li class="list__item"&gt;Html5&lt;/li&gt;
  &lt;li class="list__item"&gt;PHP&lt;/li&gt;
  &lt;li class="list__item"&gt;NodeJS&lt;/li&gt;
  &lt;li class="list__item"&gt;Ruby&lt;/li&gt;
  &lt;li class="list__item"&gt;JavaScript&lt;/li&gt;
  &lt;li class="list__item"&gt;Java&lt;/li&gt;
&lt;ul&gt;
</code></pre>
</section>

<section id="lists-subheader">
<h3>Lists Subheader</h3>
<pre><code class="language-markup">
&lt;ul class="list"&gt;
    &lt;li class="list__subheader"&gt;Front-end&lt;/li&gt;
	&lt;li class="list__item"&gt;Html5&lt;/li&gt;
    &lt;li class="list__item"&gt;CSS&lt;/li&gt;
    &lt;li class="list__item"&gt;JavaScript&lt;/li&gt;
    &lt;li class="list__subheader"&gt;Back-end&lt;/li&gt;
    &lt;li class="list__item"&gt;Java&lt;/li&gt;
    &lt;li class="list__item"&gt;NodeJS&lt;/li&gt;
    &lt;li class="list__item"&gt;PHP&lt;/li&gt;
    &lt;li class="list__item"&gt;Ruby&lt;/li&gt;
&lt;ul&gt;
</code></pre>
</section>

<section id="lists-caption">			
<h3>List Caption</h3>
<pre><code class="language-markup">
&lt;ul class=&quot;list&quot;&gt;
 &lt;li class=&quot;list__subheader&quot;&gt;Chat&lt;/li&gt;
 &lt;li class=&quot;list__item&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/1&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; 
         Fred 
         &lt;div class=&quot;list__caption&quot;&gt;
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         &lt;/div&gt; 
     &lt;/div&gt;
 &lt;/li&gt;
 &lt;li class=&quot;list__item&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/2&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; 
         Lisa 
         &lt;div class=&quot;list__caption&quot;&gt;
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         &lt;/div&gt; 
     &lt;/div&gt;
 &lt;/li&gt;
 &lt;li class=&quot;list__item&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/3&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; 
         John
         &lt;div class=&quot;list__caption&quot;&gt;
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         &lt;/div&gt; 
     &lt;/div&gt;
 &lt;/li&gt;
&lt;ul&gt;
</code></pre>
</section>

<section id="lists-icon">			
<h3>Lists Icon</h3>
<pre><code class="language-markup">
&lt;ul class=&quot;list&quot;&gt;
 &lt;li class=&quot;list__subheader&quot;&gt;Icon left&lt;/li&gt;
 &lt;li class=&quot;list__item&quot;&gt; 
    &lt;div class=&quot;list__primary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-inbox&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;div class=&quot;list__content&quot;&gt;Inbox&lt;/div&gt;
 &lt;/li&gt;
 
 &lt;li class=&quot;list__item&quot;&gt; 
    &lt;div class=&quot;list__primary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-star-circle&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;div class=&quot;list__content&quot;&gt;Starred&lt;/div&gt;
 &lt;/li&gt;
 
 &lt;div class=&quot;list__divider list__divider--pushed&quot;&gt;&lt;/div&gt;
 &lt;div class=&quot;list__subheader list__subheader--pushed&quot;&gt;Icon Circled&lt;/div&gt;
 
 &lt;li class=&quot;list__item&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;i class=&quot;icon icon--circled bg-green color-white mdi mdi-inbox&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; All mail &lt;/div&gt;
 &lt;/li&gt;
 
 &lt;li class=&quot;list__item&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;i class=&quot;icon icon--circled bg-red color-white mdi mdi-delete&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Trash &lt;/div&gt;
 &lt;/li&gt;
 &lt;div class=&quot;list__divider list__divider--pushed&quot;&gt;&lt;/div&gt;
 &lt;div class=&quot;list__subheader list__subheader--pushed&quot;&gt;Icon Right&lt;/div&gt;
 
 &lt;li class=&quot;list__item&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;i class=&quot;icon icon--circled bg-grey color-white mdi mdi-inbox&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Inbox &lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon color-grey mdi mdi-information-outline&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
 
 &lt;li class=&quot;list__item&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;i class=&quot;icon icon--circled bg-grey color-white mdi mdi-delete&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Trash &lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon color-grey mdi mdi-information-outline&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
&lt;ul&gt;
</code></pre>
</section>

<section id="lists-image">			
<h3>Lists Image</h3>
<pre><code class="language-markup">
&lt;ul class=&quot;list&quot;&gt;
 &lt;li class=&quot;list__subheader&quot;&gt;Contacts&lt;/li&gt;
 &lt;li class=&quot;list__item list__item--separator&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/1&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Fred &lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-phone text-grey&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
 &lt;li class=&quot;list__item list__item--separator&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/2&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Lisa &lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-phone text-grey&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
 &lt;li class=&quot;list__item list__item--separator&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/3&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; John&lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-phone text-grey&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
 
 &lt;li class=&quot;list__separator&quot;&gt;&lt;/li&gt;
 &lt;li class=&quot;list__subheader&quot;&gt;Favorites&lt;/li&gt;
 &lt;li class=&quot;list__item list__item--separator&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/5&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Brad &lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-phone text-grey&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
 &lt;li class=&quot;list__item list__item--separator&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/6&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Will &lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-phone text-grey&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
 &lt;li class=&quot;list__item list__item--separator&quot;&gt; 
     &lt;div class=&quot;list__primary&quot;&gt;
        &lt;img src=&quot;http://lorempixel.com/60/60/people/4&quot; width=&quot;40&quot; height=&quot;40&quot; class=&quot;img-circle&quot;&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list__content&quot;&gt; Item 01 &lt;/div&gt;
     &lt;div class=&quot;list__secondary&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-phone text-grey&quot;&gt;&lt;/i&gt;
     &lt;/div&gt;
 &lt;/li&gt;
 
 &lt;ul&gt;
</code></pre>
</section>
<!-- /LISTS --> 

<!-- CARDS --> 
<section id="cards">      
<h3>Cards</h3>
<pre><code class="language-markup">
&lt;div class="list card"&gt;
 &lt;div class="list__item card__text"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Mauris sagittis pellentesque lacus eleifend lacinia...
 &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</section>

<section id="cards-image">      
<h3>Cards</h3>
<pre><code class="language-markup">
&lt;div class="list card"&gt;
 &lt;div class="list__item card__image"&gt;
  &lt;img src="http://www.getmdl.io/assets/demos/welcome_card.jpg" class="card__image--pic"&gt;
  &lt;h2 class="card__image--title"&gt;Welcome&lt;/h2&gt;
  &lt;div class="card__image--menu"&gt;
    &lt;button class="button button--icon button--ripple"&gt;
     &lt;i class="icon material-icons"&gt;share&lt;/i&gt;
    &lt;/button&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="list__item card__text"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Mauris sagittis pellentesque lacus eleifend lacinia...
 &lt;/div&gt;
 &lt;div class="list__item card__actions"&gt;
  &lt;button class="button button--flat button--ripple color-blue"&gt;GET STARTED&lt;/button&gt;
 &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</section>

<section id="cards-avatar">      
<h3>Card Avatar</h3>
<pre><code class="language-markup">
&lt;div class=&quot;list card&quot;&gt;
 &lt;div class=&quot;list__item card__avatar&quot;&gt;
     &lt;div class=&quot;list_primary&quot;&gt;
        &lt;img ng-src=&quot;http://lorempixel.com/50/50/people&quot; class=&quot;img-circle&quot;&gt;&lt;/img&gt;
     &lt;/div&gt;
     &lt;div class=&quot;list_content&quot;&gt;
        Alice Maria
     &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class=&quot;list__item card__image&quot;&gt;
     &lt;img src=&quot;http://lorempixel.com/640/480/food/&quot; class=&quot;card__image--pic&quot;&gt;
     &lt;h2 class=&quot;card__image--title&quot;&gt;Welcome&lt;/h2&gt;
     &lt;div class=&quot;card__image--menu&quot;&gt;
         &lt;button class=&quot;button button--icon button--ripple&quot;&gt;
            &lt;i class=&quot;icon material-icons&quot;&gt;share&lt;/i&gt;
         &lt;/button&gt;
     &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class=&quot;list__item card__text&quot;&gt;
 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Mauris sagittis pellentesque lacus eleifend lacinia...
 &lt;/div&gt;
 &lt;div class=&quot;list__item card__actions&quot;&gt;
     &lt;button class=&quot;button button--flat button--ripple text-blue&quot;&gt;LIKE&lt;/button&gt;
     &lt;button class=&quot;button button--flat button--ripple text-blue&quot;&gt;SHARED&lt;/button&gt;
 &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</section>

<section id="cards-background-image">      
<h3>Background Image</h3>
<pre><code class="language-markup">
&lt;div class="card" style="background: url('http://lorempixel.com/640/480/people/')"&gt;
 &lt;div class="list__item card__title"&gt;
    &lt;h2 class="card__title--text"&gt;Welcome&lt;/h2&gt;
 &lt;/div&gt;
 &lt;div class="card__text"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Mauris sagittis pellentesque lacus eleifend lacinia...
 &lt;/div&gt;
 &lt;div class="card__actions"&gt;
  &lt;button class="button button--flat button--ripple color-blue"&gt;GET STARTED&lt;/button&gt;
 &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</section>
<!-- CARDS --> 

<!-- TEXT FIELD --> 
<section id="text-fields">
<h3>Text Field</h3>
<pre><code class="language-markup">&lt;div class="text-field"&gt;
  &lt;input type="text" class="text-field__input" placeholder="Last name"&gt;
  &lt;div class="text-field__border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>

<section id="text-fields-label">
<h3>Label Animate</h3>
<pre><code class="language-markup">&lt;div class="text-field"&gt;
  &lt;input type="text" class="text-field__input" placeholder="Last name"&gt;
  &lt;div class="text-field__border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>

<section id="text-fields-icon">
<h3>Text Icon</h3>
<pre><code class="language-markup">&lt;div class="text-field"&gt;
  &lt;input type="text" class="text-field__input" placeholder="Last name"&gt;
  &lt;div class="text-field__border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>
<!-- TEXT FIELD --> 

<section id="switch">
<h3 >Switch</h3>
<pre><code class="language-markup">&lt;div class="switch"&gt;
    &lt;input type="checkbox" id="switch1" class="switch__input"&gt;
    &lt;label for="switch1" class="switch__label">Switch&lt;/label&gt;
&lt;/div&gt;

&lt;div class="switch"&gt;
    &lt;input type="checkbox" id="switch2" class="switch__input" checked&gt;
    &lt;label for="switch2" class="switch__label">Switch with help&lt;/label&gt;
    &lt;span class="switch__help">Lorem ipsum dolor sit amet.&lt;/span&gt;
&lt;/div&gt;

&lt;div class="switch"&gt;
    &lt;input type="checkbox" id="switch3" class="switch__input" disabled&gt;
    &lt;label for="switch3" class="switch__label">Switch disabled&lt;/label&gt;
&lt;/div&gt;

&lt;div class="switch"&gt;
    &lt;input type="checkbox" id="switch4" class="switch__input" disabled checked&gt;
    &lt;label for="switch4" class="switch__label"&gt;Checked and disabled&lt;/label&gt;
&lt;/div&gt;</code></pre>
</section>

<section id="checkbox">
<h3>Checkbox</h3>
<pre><code class="language-markup">&lt;div class="checkbox"&gt;
    &lt;input type="checkbox" id="checkbox1" class="checkbox__input"&gt;
    &lt;label for="checkbox1" class="checkbox__label">Checkbox&lt;/label&gt;
&lt;/div&gt;

&lt;div class="checkbox"&gt;
    &lt;input type="checkbox" id="checkbox3" class="checkbox__input" disabled=""&gt;
    &lt;label for="checkbox3" class="checkbox__label">Checkbox disabled&lt;/label&gt;
    &lt;span class="checkbox__help">Lorem ipsum dolor sit amet.&lt;/span&gt;
&lt;/div&gt;

&lt;div class="checkbox checkbox--standalone">
    &lt;input type="checkbox" id="checkbox5" class="checkbox__input"&gt;
    &lt;label for="checkbox5" class="checkbox__label">&lt;/label&gt;
&lt;/div&gt;</code></pre>
</section>

<section id="radio">
<h3>Radio Button</h3>
<pre><code class="language-markup">
&lt;div class="radio-group"&gt;

	&lt;div class="radio-button"&gt;
   		&lt;input type="radio" id="radio1" name="radio1" class="radio-button__input"&gt;
    	 &lt;label for="radio1" class="radio-button__label">Radio Button 1&lt;/label&gt;
    &lt;/div&gt;

 	&lt;div class="radio-button"&gt;
   		&lt;input type="radio" id="radio2" name="radio1" class="radio-button__input"&gt;
     	&lt;label for="radio2" class="radio-button__label">Radio Button 2&lt;/label&gt;
     	&lt;span class="radio-button__help">Lorem ipsum dolor sit amet.&lt;/span&gt;
 	&lt;/div&gt;
 	
&lt;/div&gt;

&lt;div class="radio-button"&gt;
    &lt;input type="radio" id="radio3" class="radio-button__input" disabled&gt;
    &lt;label for="radio3" class="radio-button__label">Radio disabled&lt;/label&gt;
&lt;/div>

&lt;div class="radio-button"&gt;
    &lt;input type="radio" id="radio4" class="radio-button__input" disabled checked&gt;
    &lt;label for="radio4" class="radio-button__label">Radio checked and disabled&lt;/label&gt;
&lt;/div&gt;
</code></pre>
</section>

<section id="select">
<h3>Select</h3>
<pre><code class="language-markup">
&lt;div class="select"&gt;
  &lt;label class="select__label"&gt;&lt;/label&gt;
  &lt;select class="select__input"&gt;
  	&lt;option&gt;&lt;/option&gt;
  &lt;/select&gt;
  &lt;div class="select__border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>

<section id="tabs">
<h3>Tabs</h3>
<pre><code class="language-markup">
&lt;div class=&quot;sub-header header--shadow&quot;&gt;
    &lt;div class=&quot;tab-bar bg-indigo tab-bar--text-white tab-bar--indicator-bottom-white&quot;&gt;
      &lt;div class=&quot;tab-bar__item ripple active&quot;&gt;
        TEXT 1
      &lt;/div&gt;
      &lt;div class=&quot;tab-bar__item ripple&quot;&gt;
        TEXT 2
      &lt;/div&gt;
      &lt;div class=&quot;tab-bar__item ripple&quot;&gt;
        TEXT 3
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
</section>

<section id="tabs-icons">
<h3>Tabs Icons</h3>
<pre><code class="language-markup">
&lt;div class=&quot;sub-header header--shadow&quot;&gt;
    &lt;div class=&quot;tab-bar bg-indigo tab-bar--text-white tab-bar--indicator-bottom-white&quot;&gt;
      &lt;div class=&quot;tab-bar__item ripple active&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-home&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;div class=&quot;tab-bar__item ripple&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-comment&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;div class=&quot;tab-bar__item ripple&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-bell-outline&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
</section>

<section id="tabs-bottom">
<h3>Tabs Bottom</h3>
<pre><code class="language-markup">
&lt;div class=&quot;footer&quot;&gt;
    &lt;div class=&quot;tab-bar bg-white tab-bar--text-black tab-bar--indicator-top-black&quot;&gt;
      &lt;div class=&quot;tab-bar__item ripple active&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-home&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;div class=&quot;tab-bar__item ripple&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-comment&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;div class=&quot;tab-bar__item ripple&quot;&gt;
        &lt;i class=&quot;icon mdi mdi-bell-outline&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
</section>

<section id="grid">
<h3>Grid</h3>
<pre><code class="language-markup">
&lt;div class="select"&gt;
  &lt;label class="select__label"&gt;&lt;/label&gt;
  &lt;select class="select__input"&gt;
  	&lt;option&gt;&lt;/option&gt;
  &lt;/select&gt;
  &lt;div class="select__border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>

<section id="colors">
<h3>Colors</h3>
<pre><code class="language-markup">
&lt;div class="select"&gt;
  &lt;label class="select__label"&gt;&lt;/label&gt;
  &lt;select class="select__input"&gt;
  	&lt;option&gt;&lt;/option&gt;
  &lt;/select&gt;
  &lt;div class="select__border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>

<section id="icons">
<h3>Icons</h3>
<pre><code class="language-markup">
&lt;div class="select"&gt;
  &lt;label class="select__label"&gt;&lt;/label&gt;
  &lt;select class="select__input"&gt;
  	&lt;option&gt;&lt;/option&gt;
  &lt;/select&gt;
  &lt;div class="select__border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>