<% include ../partials/head %>

<header class="header header--shadow text-black">
<div class="header__title">Icons Styled</div>
</header>

<section class="content content--padding has-header">

<button class="button button--icon ripple"><i class="icon text-red mdi mdi-basket"></i></button> 
<button class="button button--icon ripple"><i class="icon text-blue mdi mdi-basket"></i></button> 
<button class="button button--icon ripple"><i class="icon text-green mdi mdi-basket"></i></button> 
<button class="button button--icon ripple"><i class="icon text-yellow mdi mdi-basket"></i></button> 
<button class="button button--icon ripple"><i class="icon text-purple mdi mdi-basket"></i></button> 
<button class="button button--icon ripple"><i class="icon icon--circled bg-red mdi mdi-account"></i></button> 
<button class="button button--icon ripple"><i class="icon icon--circled bg-blue mdi mdi-account"></i></button> 
<button class="button button--icon ripple"><i class="icon icon--circled bg-green mdi mdi-account"></i></button> 
<button class="button button--icon ripple"><i class="icon icon--circled bg-yellow mdi mdi-account"></i></button> 
<button class="button button--icon ripple"><i class="icon icon--circled bg-purple mdi mdi-account"></i></button> 


</section>

<% include ../partials/footer %>