<% include ../partials/head %>
  
    <header class="header bg-teal text-white">
      <div class="header__title">Buttons Block</div>
    </header>
    
    <section class="content content--padding has-header">
        <p><button class="button bg-blue text-white button--raised button--block">I'm a Button</button></p>
        <p><button class="button button--large bg-blue text-white button--raised button--block">I'm a Button</button></p>
    </section> 
  
<% include ../partials/footer %>