<% include ../partials/head %>
  
    <header class="header header--shadow">
      <div class="header__title">Fab Buttons</div>
    </header>
    
    <section class="content content--padding has-header">
        <p>
            <button class="button button--small bg-blue text-white button--fab"><i class="icon material-icons">favorite</i></button>
            <button class="button bg-blue text-white button--fab"><i class="icon material-icons">favorite</i></button>
            <button class="button button--large bg-blue text-white button--fab"><i class="icon material-icons">favorite</i></button>
        </p>
    </section> 
  
<% include ../partials/footer %>