<% include ../partials/head %>
  
    <header class="header bg-teal text-white">
      <div class="header__title">Button Floating</div>
    </header>
    
    <section class="content content--padding has-header">
        <button class="button button--l bg-green text-white button--fab button--fab-floating"><i class="icon material-icons">favorite</i></button>
    </section> 
  
<% include ../partials/footer %>