<% include ../partials/head %>
  
    <header class="header header--shadow">
      <div class="header__title">Floating Button</div>
    </header>
    
    <section class="content content--padding has-header">
        <button class="button bg-blue text-white button--fab button--fab-floating"><i class="icon material-icons">favorite</i></button>
    </section> 
  
<% include ../partials/footer %>