<% include ../partials/head %>
  
    <header class="header bg-teal text-white">
      <div class="header__title">Buttons Block</div>
    </header>
    
    <section class="content content--padding has-header">
        <p><button class="button text-blue button--icon"><i class="icon material-icons">info</i></button></p>
        <p><button class="button button--large text-red button--icon"><i class="icon material-icons">face</i></button></p>
   </section> 
  
<% include ../partials/footer %>