<% include ../partials/head %>
  
    <header class="header header--shadow bg-teal text-white">
      <div class="header__title">Buttons</div>
    </header>
    
    <section class="content content--padding has-header">
        <p><button class="button bg-blue text-white">I'm a Button</button></p>
        <p><button class="button button--large bg-red text-white button--raised">I'm a Button</button></p>
        <p><button class="button button--small bg-green text-white button--raised">I'm a Button</button></p>
    </section> 
  
<% include ../partials/footer %>