$colors: ('red': $red, 'pink': $pink, 'purple': $purple, 'deep-purple': $deep-purple, 'indigo': $indigo, 'blue': $blue, 
				 'light-blue': $light-blue, 'cyan': $cyan, 'teal': $teal, 'green': $green, 'light-green': $light-green, 'lime': $lime, 'yellow': $yellow,
				 'orange': $orange, 'deep-orange': $deep-orange, 'brown': $brown, 'amber': $amber, 'grey': $grey, 'blue-gray': $blue-gray, 'blue-grey': $blue-grey,
				 'black': $black, 'white': $white);


@each $label, $color in $colors {
    .bg-#{$label} {
	    background-color: $color !important;
	 }

	 .text-#{$label}{
		color: $color !important;
	}
} 
