<!--Footer
==========================-->

<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">Code licensed under the <a href="https://github.com/wagnercsfilho/phonepack/blob/master/LICENSE" target="_blank">MIT License</a> <br>
        Phonepack was created by <a href="https://github.com/wagnercsfilho" target="_blank">@wagnercsfilho</a>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
</footer>

<!--/.Footer-->