<!-- DIALOG -->

<section id="dialog" style="padding-top: 0">
    <h3>Dialog</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <pre><code class="language-javascript">
var dialog = new phonepack.Dialog({
    title: 'Loading...',
    content: 'Lorem ipsum dolor sit amet',         
}).show(function(){
    dialog.hide();
});
</code>
</pre>
</section>

<!-- LOADING -->

<section id="loading">
    <h3>Loading</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <pre><code class="language-javascript">
var loading = new phonepack.Loading({
    spinner: true,
    overlay: true,
    title: 'Loading'
}).show();
                
setTimeout(function() {
    loading.hide();
}, 100);
</code>
</pre>
</section>

<!-- NOTIFICATION -->

<section id="notification">
    <h3>Notification</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <pre><code class="language-javascript">
var notification = new phonepack.Notification();
notification.simple('Warning message');
notification.info('Warning message');
notification.success('Warning message');
notification.warning('Warning message');
notification.error('Warning message');</code></pre>
</section>

<!-- PAGES -->


<section id="navigation">
    <h3>Navigation</h3>
    <h4>Navigation SPA pages</h4>
    
    <pre><code class="language-markup">
&lt;!-- Entry point in views that will be inserted in the DOM  --&gt;
&lt;div id="navigation" class="navigation"&gt&lt;/div&gt;
    
&lt;!-- All application pages should be between a DIV tag with class " .pages "  --&gt;
&lt;div class="pages"&gt;&lt;/div&gt;
    </code></pre>
    
    <pre><code class="language-javascript">

// Sets the homepage that will be loaded into the DOM.
var options = {
    page: 'startPage.html'
};        

// Instance a new page class
var navigation = new phonepack.Navigation(document.getElementById('pages'), options);

// Push a new page into the DOM
navigation.pushPage('example-page.html', { paramObj: { foo: 'bar } }, doSomething);

// Replace a new page in DOM
navigation.changePage('example-page.html', doSomething);

function doSomething(){
    // Callback page
}

// Close the current page pushed in the DOM
navigation.closeCurrentPage();

//Get page params
var naviParams = navigation.getParams();
console.log(naviParams.paramObj);

/*
    Output: 
    {
        foo: 'bar'
    }
*/

</code>
</pre>
<br>
<h4>Events</h4>
<h5>beforePush - This method is called before rendering the html of the page in the DOM.</h5>
<pre><code class="language-javascript">
navigation.on('beforePush', function(template, next){
    // template: Html element
    // next: Method should be called for to continue rendering the page in the DOM.
});
</code>
</pre>
<h5>afterPush - This method is called after rendering the html of the page in the DOM.</h5>
<pre><code class="language-javascript">
navigation.on('afterPush', function(template){
    // template: Html element
});
</code>
</pre>
</section>

<!-- PAGES -->

<section id="side-menu">
    <h3>Side Menu</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <pre><code class="language-javascript">
// Get menu element instance
sideMenu = new phonepack.sideMenu(document.getElementById('side-menu'));

// show/hide menu
sideMenu.toggle();
</code>
</pre>
</section>

<!-- DROPDOWN MENU -->

<section id="dropdown-menu">
    <h3>DropDown Menu</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <pre><code class="language-javascript">
document.querySelector('#open').addEventListener('click', function() {
    phonepack.DropDownMenu(this, document.getElementById('dropMenu'));
});
</code>
</pre>
</section>

<!-- PULL TO REFRESH -->

<section id="pull-to-refresh">
    <h3>Pull to refresh (only mobile)</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <pre><code class="language-javascript">
var pullToRefresh = new phonepack.PullToRefresh(document.querySelector('.content'), function(){
    setTimeout(function(){
        pullToRefresh.hide();
    }, 5000);
});
</code>
</pre>
</section>