<div class="side-bar" id="sideBar">

	<a href="/getting-started.html"><h4>GETTING STARTED</h4></a>
	<a href="/css.html"><h4>CSS</h4></a>
	<a href="/javascript.html"><h4 class="active">JAVASCRIPT</h4></a>
	<ul class="nav nav-list">
		<li>
			<a href="#dialog" rel="docs/demos/dialog/index">Dialog</a>
		</li>
		<li>
			<a href="#loading" rel="docs/demos/loading/index">Loading</a>
		</li>
		<li>
			<a href="#notification" rel="docs/demos/notification/index">Notification</a>
		</li>
		<li>
			<a href="#navigation" rel="docs/demos/navigation/index">Navigation</a>
		</li>
		<li>
			<a href="#side-menu" rel="docs/demos/side-menu/index">Side Menu</a>
		</li>
		<li>
			<a href="#dropdown-menu" rel="docs/demos/dropdown-menu/index">DropDown Menu</a>
		</li>
		<li>
			<a href="#pull-to-refresh" rel="docs/demos/pull-to-refresh/index">Pull to refresh</a>
		</li>
		<li>
			<a href="#tabbar" rel="docs/demos/tabs/dinamic">TabBar</a>
		</li>
		<li>
			<a href="#infinite-scroll" rel="docs/demos/infinite-scroll/index">Infinite Scroll</a>
		</li>
		<li>
			<a href="#shrink-header" rel="docs/demos/shrink-header/index">Shrink Header</a>
		</li>
	</ul>

</div>