<% include ../partials/head %>
  
    <header class="header header--shadow bg-white text-black">
      <div class="header__title">Checkbox</div>
    </header>
    
    <section class="content content--padding has-header">
        <div class="checkbox">
            <input type="checkbox" id="checkbox1" class="checkbox__input">
            <label for="checkbox1" class="checkbox__label">Checkbox</label>
        </div>
        
        <div class="checkbox">
            <input type="checkbox" id="checkbox3" class="checkbox__input" disabled="">
            <label for="checkbox3" class="checkbox__label">Checkbox disabled</label>
            <span class="checkbox__help">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</span>
        </div>
        
        <div class="checkbox checkbox--standalone">
            <input type="checkbox" id="checkbox5" class="checkbox__input">
            <label for="checkbox5" class="checkbox__label"></label>
        </div>
    </section> 
  
<% include ../partials/footer %>