<% include ../partials/head %>
  
    <header class="header header--shadow bg-white text-black">
      <div class="header__title">Loading</div>
    </header>
    
    <section class="content content--padding has-header">
        <button class="button button--raised button--ripple bg-indigo text-white" id="open">Open Loading</button>
    </section>
    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            
            document.querySelector('#open').addEventListener('click', function(){
                var loading = new phonepack.Loading({
                    title: 'Wait, please!'      
                }).show();
                
                setTimeout(function() {
                    loading.hide();
                }, 5000);
            });
            
          }, false);
    </script>
  
<% include ../partials/footer %>