<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>PhonePack</title>

<!-- PhonePack CSS  -->
<link rel="stylesheet" type="text/css" href="{{ "/bower_components/phonepack/dist/css/phonepack.css " | prepend: site.baseurl }}">

<!-- PhonePack JavaScript  -->
<script src="{{ "/bower_components/phonepack/dist/js/phonepack.min.js " | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>

<body>
    
    {{ content }}
    
</body>

</html>
