.content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  overflow-y: auto; 
}

.content.content--padding{
  padding: 16px;
}

.content.has-header {
    top: 56px;
}

.content.has-sub-header {
    top: 104px;  
}

.content.has-footer {
    bottom: 48px;  
}