.row {
 	display: flex;
 	list-style: none;
 	margin: 0;
 	padding: 0;

  		.col {
			flex: 1;
		}

		.col.col--autoSize {
		 	flex: none;
		}

}

.row.nowrap {
	flex-wrap: nowrap
}

.row.wrap { 
  flex-wrap: wrap;
} 

.row.row--flex-cells > .col {
  display: flex;
}

.row.row--center {
  align-items: center;
}

.row.row--justify-enter {
  justify-content: center;
}

