$tab-opacity: 0.7;

@mixin border-bottom($color) {
  border-bottom: 2px solid $color;
}

.tab-bar {
  display: flex;
  height: 48px;
  position: absolute;
  background: #ffffff;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  
  .tab-item {
    flex: 1;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    .icon{
      vertical-align: middle;
    }
  }
  
  .tab-item:hover{
    cursor: pointer;
  }
 
  .tab--ripple{
    position: relative;
    overflow: hidden;
  }

  .tab-item.active{
    height: 46px;
  }
   
} 

@each $label, $color in $colors {

  .tab-item__color-#{$label}{
    color:  rgba($color, $tab-opacity) !important;
    .tab-item.active, .tab-item:hover{
       color: $color;
    }
  }

  .tab-item__indicator-#{$label}{
    .tab-item.active{
      @include border-bottom($color);
    }
  } 
 
}
