<div class="pages">
    <header class="header header--shadow bg-white text-black">
        <div class="header__title">All Contacts</div>
    </header>

    <section class="content has-header">
        <ul class="list">
            <li class="list__subheader">A</li>
            <li class="list__item with-separator" id="open">
                <div class="list__primary">
                    <img src="http://lorempixel.com/60/60/people/1" width="40" height="40" class="img-circle">
                </div>
                <div class="list__content">
                    AVA
                </div>
            </li>
            <li class="list__item with-separator" id="open">
                <div class="list__primary">
                    <img src="http://lorempixel.com/60/60/people/2" width="40" height="40" class="img-circle">
                </div>
                <div class="list__content">
                    ABIGAIL
                </div>
            </li>
            <li class="list__item with-separator" id="open">
                <div class="list__primary">
                    <img src="http://lorempixel.com/60/60/people/3" width="40" height="40" class="img-circle">
                </div>
                <div class="list__content">
                    ANNA
                </div>
            </li>
            <li class="list__subheader">B</li>
            <li class="list__item with-separator" id="open">
                <div class="list__primary">
                    <img src="http://lorempixel.com/60/60/people/4" width="40" height="40" class="img-circle">
                </div>
                <div class="list__content">
                    BRITTANY
                </div>
            </li>
            <li class="list__item with-separator" id="open">
                <div class="list__primary">
                    <img src="http://lorempixel.com/60/60/people/5" width="40" height="40" class="img-circle">
                </div>
                <div class="list__content">
                    BARBARA
                </div>
            </li>
            <li class="list__item with-separator" id="open">
                <div class="list__primary">
                    <img src="http://lorempixel.com/60/60/people/6" width="40" height="40" class="img-circle">
                </div>
                <div class="list__content">
                    BETH
                </div>
            </li>
        </ul>
    </section>
</div>